node_modules/
.expo/
dist/
web-build/
expo-env.d.ts

# Native build/signing artifacts
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env
.env.*
*.env
!.env.example

# TypeScript build info
*.tsbuildinfo

# generated native folders
/ios
/android
.kotlin/
